# Git
.git
.gitignore

# Maven
target/
!target/*.jar
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iml
.vscode/
.project
.classpath
.settings/

# Logs
*.log
logs/

# Environment
.env
*.env

# OS
.DS_Store
Thumbs.db 